<ion-header>
  <ion-toolbar>
    <ion-title>GPS Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <capacitor-google-map #map id="map"></capacitor-google-map>
  <ion-item class="footer">
    <div *ngIf="latitude !== null && longitude !== null">
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
    </div>
    <div *ngIf="latitude === null && longitude === null">
      <p>Waiting for location...</p>
    </div>
    <div>
      <ion-button (click)="handleSave()" class="btn">Save</ion-button>
    </div>
  </ion-item>
</ion-content>